@media only screen and (min-width: 35.5em) {
    main {
		grid-template-columns: 1fr 1fr;
	}

	main section:nth-child(3) {
		grid-column: span 2;
		align-items: center;
		justify-content: center;
	}

	section a, p {
		font-size: 18px;
	}

	.section_3 img {
		padding: 1em 3em 1em 3em
	}
}