header, footer {
	background-color: #4999da;
	border-radius: .5em;
}

body {
	font-size: 18px;
	font-family: "Sansita", Ubuntu, sans-serif;
	display: grid;
	grid-gap: 1em;
	text-align: center;
	align-items: center;
	justify-content: center;
}

main {
	max-width: 750px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1.5em;
	font-size: 0.8rem;
}

main img {
	display: block;
    width: 90%;
}

section h2, a, img, p {
    margin: 0px;
    padding: 1em;
}

section h2 {
	border-radius: .75em .75em 0 0;
	background-color: #4999da;
}
section {
	background-color: #cccccc;
	text-align: left;
	border-radius: 1em;
	align-items: center;
	justify-content: center;
}

section a, p {
	font-size: 20px;
}