header {
    display: grid;
    text-align: center;
    padding: 1rem;
    max-width: 500px;
    background-color: #1d75bd;
    grid-template-columns: 300px 110px;
    grid-gap: 1em;
    align-items: center;
    border-radius: 1em;
}

img {
    border-radius: .75em;
}

body {
    max-width: 960px;   
    margin: 0 auto;
    padding: 1em;
}

footer {
    padding: 1em;
}