@media only screen and (min-width: 35.5em) {
    footer {
        grid-template-columns: 1fr 1fr;
        justify-content: none;
      }
      
      .footer_left {
        grid-column: 1/2;
      }
      
      .footer_right {
        grid-column: 2/3;
      }
      
      .footer_bottom {
        grid-column: 1/3;
        text-align: none;
      }
}