body {
  padding: 1em;
  max-width: 1200px;
  margin: 0 auto;
}

img.logo {
  width: 150px;
  height: 100px;
}

header {
  background-color: #a8a8a8b0;
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
  margin: 0;
}

.meet_wednesday {
  grid-row: 1/2;
  text-align: center;
  margin-bottom: 10px;
  font-size: large;
  background-color: #eee;
}

div.header_content {
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 2/3;
}

div.header_logo_box {
  text-align: center;
}

div.header_logo_box img.logo {
  grid-row: 1/2;
}

div.site_name {
  grid-auto-flow: column;
  grid-row: 2/3;
  padding: 5px;
}
div.site_name h1, div.site_name h2 {
  margin: 0;
}

div.header_right_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

nav {
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 2em;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

nav ul li {
  flex: 1 1 auto;
}

nav button {
  margin: .2rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #555;
}

nav ul li a {
  display: block;
  padding: .8rem 2vw;
  text-decoration: none;
  color: rgb(51, 51, 51);
}

nav ul li.active a {
  background-color: rgba(0,0,0,0.2);
  color: #fff;
}

nav ul li a:hover {
  background-color: rgba(0,0,0,0.3);
}

nav ul {
  display: none;
}

nav ul.open {
  display: block;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

div.social_media {
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  padding: 5px;
}

div.social_media a {
  padding: 8px;
}

div.current_date {
  background-color: rgba(85, 85, 85, .75);
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;
  grid-row: 3/4;
}

div.main_div {
  padding: 10px;
  height: auto;
  border: 1px solid rgba(0,0,0,0.3);
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
  margin: 0;
  background-color: #eee;
}

div.main_div button {
  background-color: rgb(245, 245, 245);
  border: 1px solid rgba(0,0,0,0.3);
  padding: 10px 8px 10px 10px;;
  border-radius: .5em;
}

div.main_div button:hover {
  background-color: white;
  border: 1px solid rgba(0,0,0,0.5);
}

div.hero_div {
  position: relative;
  padding: 0;
}

.hero_welcome {
  background-color: white;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: .5em;
  padding: 10px;
  position: absolute;
  top: .5em;
  left: .5em;
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 20px;
}

div.hero_div img {
  width: 100%;
  height: 100%;
  border-radius: 0;
}

button.hero_button {
  position: absolute;
  bottom: .5em;
  right: .5em;
  display: flex;
  align-items: center;
}

button.hero_button img{
  width: 30px; 
  height: 30px;
  padding: 0 0 0 10px;
}

.event img, .weather img, .news img {
  border-radius: .75em;
  padding-bottom: 10px;
}

div.join {
  display: none;
  align-items: center;
  justify-items: center;
}

.join_button {
  width: 95%;
}

div.spotlight_div_box {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  gap: 10px;
}

div.spotlight3 {
  display: none;
}

img {
  border-radius: 2em;
}

footer {
  background-color: #a8a8a8b0;
  display: grid;
  text-align: center;
  padding: 20px;
  margin: 0;
}

footer h1, footer h2 {
  margin: 0;
}

div.footer_right a {
 text-decoration: none;
}

.footer_bottom {
  background-color: rgba(85, 85, 85, .75);
  padding: 10px;
}

span {
  color: #64a7ff;
  font-weight: 700;
}

/* --- Discovery Page --- */
main.discover {
  display: grid;
  grid-template-columns: 1fr;
}

div.div_discover {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 10px;
  margin: 0 auto;
  justify-items: center;
}

div.div_discover h2 {
  text-align: center;
}

div.div_discover p {
  font-size: large;
}

div.div_discover img {
  width: 100%;
  height: 100%;
}

div.discover_page_title {
  text-align: center;
}