.active {
    color:#044275;
    font-weight: 900;
}
header {
  padding: 0.5em;
  text-align: center;
  max-width: 960px;
  background-color: #4999da; /* #1d75bd */
  align-items: center;
  border-radius: 0.5em 0.5em 0 0;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: "Inter", "Lato", sans-serif;
}

nav {
  display: flex;
  flex-direction: column;
  text-align: center;
}

nav ul {
  list-style: none; /* removes the bullets! */
  background-color: #a8a8a8;
  padding: .5em;
  margin: 0;
  border-radius: 0 0 0.5em 0.5em;
	overflow: hidden;
}

nav ul li {
  flex: 1 1 auto;
}

nav ul li a {
  display: block;
  color: azure;
  text-align: center;
  padding: 0.25rem;
  text-decoration: none;
  font-size: 25px;
  background: linear-gradient(90deg, transparent, #4999da, transparent) bottom /
    var(--d, 0) 3px no-repeat;
  transition: 0.5s;
}

nav a:hover {
  background-color: #4999da;
  color: #36454f;
  --d: 75%;
}

img {
  border-radius: 0.5em;
}

main {
  padding: 1em;
  margin: 0 auto;
  text-align: center;
  max-width: 600px;
}

body {
  max-width: 960px;
  margin: 0 auto;
  padding: 1em;
}

.primary_blue, .primary_dark_blue, .accent_cream,
.accent_yellow, .accent_orange {
display: flex;
justify-content: center;
align-items: center;
}
.primary_blue p {
    background-color: #55A0DD;
    max-width: 200px;
    padding: .5em;
}

.primary_dark_blue p {
    background-color: #1D75BD;
    max-width: 200px;
    padding: .5em;
}

.accent_cream p {
    background-color: #FFF7EB;
    max-width: 200px;
    padding: .5em;
}

.accent_yellow p {
    background-color: #FFF570;
    max-width: 200px;
    padding: .5em;
}

.accent_orange p {
    background-color: #ffa500;
    max-width: 200px;
    padding: .5em;
}

footer {
  padding: .5em;
  text-align: center;
  background-color: #4999da;
  max-width: 960px;
  border-radius: 0.5em;
  margin: 0 auto;
}

span {
  color: #7bf170;
  font-weight: 700;
}
